<div class="row my-5">
  <div class="col-6 mx-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Account</th>
          <th scope="col">Score</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each scoreList}}
        <tr>
          <th scope="row">{{incremented @index}}</th>
          <td>{{../user.account}}</td>
          <td>{{this.score}}</td>
          <td>{{this.createdAt}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>